# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [2]:
DATA_FOLDER = '../HW1/Data'# Use the data folder provided in Tutorial 02 - Intro to Pandas.
import pandas as pd
import numpy as np

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average per month* of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

In [8]:
Ebola_guina = pandas.read_csv('../HW1/Data/ebola/guinea_data/2014-08-04.csv')
Ebola_guina

,Date,Description,Totals,Conakry,Gueckedou,Macenta,Dabola,Kissidougou,Dinguiraye,Telimele,Boffa,Kouroussa,Dubreka,Siguiri,Pita,Nzerekore
0,2014-08-04,New cases of suspects,5,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2014-08-04,New cases of probables,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2014-08-04,New cases of confirmed,4,1.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2014-08-04,Total new cases registered so far,9,6.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2014-08-04,Total cases of suspects,11,9.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2014-08-04,Total cases of probables,133,8.0,95.0,11.0,3.0,4.0,1.0,3.0,5.0,2.0,0.0,0.0,1.0,0.0
6,2014-08-04,Total cases of confirmed,351,78.0,188.0,28.0,1.0,2.0,0.0,23.0,18.0,2.0,0.0,6.0,1.0,4.0
7,2014-08-04,Cumulative (confirmed + probable + suspects),495,95.0,285.0,39.0,4.0,6.0,1.0,26.0,23.0,4.0,0.0,6.0,2.0,4.0
8,2014-08-04,New deaths registered today,2,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2014-08-04,New deaths registered today (confirmed),2,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,2014-08-04,New deaths registered today (probables),0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,2014-08-04,New deaths registered today (suspects),0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,2014-08-04,Total deaths of suspects,2,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,2014-08-04,Total deaths of probables,133,8.0,95.0,11.0,3.0,4.0,1.0,3.0,5.0,2.0,0.0,0.0,1.0,0.0
14,2014-08-04,Total deaths of confirmed,228,32.0,152.0,18.0,1.0,1.0,0.0,7.0,11.0,1.0,0.0,3.0,1.0,1.0
15,2014-08-04,Total deaths (confirmed + probables + suspects),363,42.0,247.0,29.0,4.0,5.0,1.0,10.0,16.0,3.0,0.0,3.0,2.0,1.0
16,2014-08-04,Total PEC center today,31,21.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
17,2014-08-04,Total PEC center today (confirmed),18,10.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
18,2014-08-04,Total PEC center today (probables),0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,2014-08-04,Total PEC center today (suspects),13,11.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,2014-08-04,Total of deaths in confirmed cases in CTE,138,20.0,95.0,10.0,0.0,1.0,0.0,5.0,6.0,0.0,0.0,2.0,0.0,0.0
21,2014-08-04,Total of cured in confirmed cases in CTE,89,34.0,30.0,8.0,0.0,1.0,0.0,9.0,7.0,0.0,0.0,0.0,0.0,0.0
22,2014-08-04,Number of male confirmed cases,161,48.0,72.0,14.0,1.0,1.0,0.0,6.0,10.0,1.0,0.0,6.0,0.0,2.0
23,2014-08-04,Number of female confirmed cases,190,30.0,116.0,14.0,0.0,1.0,0.0,17.0,8.0,1.0,0.0,0.0,1.0,2.0
24,2014-08-04,Number of male probables cases,52,4.0,34.0,5.0,1.0,1.0,0.0,1.0,3.0,2.0,0.0,0.0,1.0,0.0
25,2014-08-04,Number of female probables cases,81,4.0,61.0,6.0,2.0,3.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0
26,2014-08-04,Number of male suspects cases,7,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
27,2014-08-04,Number of female suspects cases,6,4.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,2014-08-04,Total number of male cases,220,57.0,106.0,19.0,2.0,2.0,0.0,7.0,13.0,3.0,0.0,8.0,1.0,2.0
29,2014-08-04,Total number of female cases,277,38.0,179.0,20.0,2.0,4.0,1.0,19.0,10.0,1.0,0.0,0.0,1.0,2.0
30,2014-08-04,Number of confirmed cases among health workers,21,16.0,3.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,0.0
31,2014-08-04,Number of deaths of confirmed cases among heal...,12,10.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32,2014-08-04,Number of probables cases among health workers,8,1.0,4.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
33,2014-08-04,Number of deaths of probables cases among heal...,8,1.0,4.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
34,2014-08-04,Number of suspects cases among health workers,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
35,2014-08-04,Number of death of confirmed cases among healt...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36,2014-08-04,Total contacts registered from start date,6309,1592.0,3049.0,430.0,69.0,158.0,0.0,259.0,397.0,53.0,118.0,141.0,41.0,69.0
37,2014-08-04,Number of contacts to follow today,795,350.0,201.0,46.0,0.0,0.0,0.0,0.0,0.0,37.0,0.0,135.0,26.0,69.0
38,2014-08-04,Number of contacts out of track,5513,1242.0,2848.0,384.0,69.0,159.0,0.0,259.0,397.0,16.0,118.0,6.0,15.0,0.0
39,2014-08-04,Number of contacts followed yesterday,772,331.0,200.0,44.0,0.0,0.0,0.0,0.0,0.0,37.0,0.0,134.0,26.0,0.0
40,2014-08-04,Number of patients tested,785,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,2014-08-04,Number of samples collected,1235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
import glob, os    
df = pandas.concat(map(pandas.read_csv, glob.glob(os.path.join('../HW1/Data/ebola/guinea_data', "*.csv"))))
df[df.Description == 'New cases of confirmed']

,Beyla,Boffa,Conakry,Coyah,Dabola,Dalaba,Date,Description,Dinguiraye,Dubreka,...,Kouroussa,Lola,Macenta,Mzerekore,Nzerekore,Pita,Siguiri,Telimele,Totals,Yomou
2,NaN,0,1,NaN,0,NaN,2014-08-04,New cases of confirmed,0,0,...,0,NaN,0,NaN,0,0,0,0,4,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,2014-08-26,New cases of confirmed,NaN,1,...,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,10,3
2,NaN,0,4,NaN,0,NaN,2014-08-27,New cases of confirmed,0,1,...,0,NaN,5,NaN,0,0,0,0,10,0
2,NaN,NaN,2,NaN,NaN,NaN,2014-08-30,New cases of confirmed,NaN,NaN,...,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,9,NaN
2,NaN,NaN,1,NaN,NaN,NaN,2014-08-31,New cases of confirmed,NaN,4,...,NaN,NaN,20,NaN,NaN,1,NaN,NaN,29,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-02,New cases of confirmed,NaN,NaN,...,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,14,NaN
2,NaN,NaN,NaN,1,NaN,NaN,2014-09-04,New cases of confirmed,NaN,NaN,...,NaN,NaN,12,NaN,NaN,NaN,NaN,NaN,17,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-07,New cases of confirmed,NaN,NaN,...,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,11,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-08,New cases of confirmed,NaN,NaN,...,NaN,NaN,8,2,NaN,NaN,NaN,NaN,11,1
2,NaN,NaN,1,NaN,NaN,NaN,2014-09-09,New cases of confirmed,NaN,NaN,...,NaN,NaN,5,1,NaN,NaN,NaN,NaN,7,NaN
2,NaN,NaN,2,1,NaN,NaN,2014-09-11,New cases of confirmed,NaN,NaN,...,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,13,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-14,New cases of confirmed,NaN,NaN,...,NaN,NaN,10,3,NaN,NaN,NaN,NaN,14,NaN
2,NaN,NaN,2,NaN,NaN,1,2014-09-16,New cases of confirmed,NaN,NaN,...,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,6,NaN
2,NaN,NaN,2,NaN,NaN,1,2014-09-17,New cases of confirmed,NaN,NaN,...,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,6,NaN
2,NaN,NaN,1,NaN,NaN,NaN,2014-09-19,New cases of confirmed,NaN,NaN,...,NaN,NaN,11,NaN,NaN,NaN,NaN,NaN,12,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,2014-09-21,New cases of confirmed,NaN,NaN,...,NaN,NaN,14,2,NaN,NaN,NaN,NaN,17,NaN
2,NaN,NaN,3,2,NaN,NaN,2014-09-22,New cases of confirmed,NaN,NaN,...,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,14,NaN
2,NaN,NaN,3,NaN,NaN,NaN,2014-09-23,New cases of confirmed,NaN,NaN,...,NaN,NaN,17,1,NaN,NaN,NaN,NaN,25,NaN
2,NaN,NaN,10,NaN,NaN,1,2014-09-24,New cases of confirmed,NaN,NaN,...,NaN,NaN,6,1,NaN,NaN,NaN,NaN,20,NaN
2,NaN,NaN,7,NaN,NaN,1,2014-09-26,New cases of confirmed,NaN,NaN,...,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,10,NaN
2,NaN,NaN,NaN,1,NaN,NaN,2014-09-30,New cases of confirmed,NaN,NaN,...,NaN,NaN,7,2,NaN,NaN,NaN,NaN,11,NaN
2,NaN,NaN,2,NaN,NaN,NaN,2014-10-01,New cases of confirmed,NaN,NaN,...,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,6,NaN

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [ ]:
# Write your answer here

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [1]:
from IPython.core.display import HTML
DATA_FOLDER = '../HW1/Data/'
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

In [5]:
titanic  = pd.read_excel(DATA_FOLDER+'/titanic.xls')

In [7]:
titanic[:10]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1,1,"Anderson, Mr. Harry",male,48.0000,0,0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1,0,"Andrews, Mr. Thomas Jr",male,39.0000,0,0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2,0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1,0,"Artagaveytia, Mr. Ramon",male,71.0000,0,0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"