In [1]:
# Import libraries
import requests
from bs4 import BeautifulSoup
import json
import numpy as np
import pandas as pd
from functools import reduce

In [4]:
def addS(x,y):
    if type(y) is str:
        return x+y + "\n"
    else:
        return x

In [5]:
URL = 'https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051_indicators.txt'
r = requests.get(URL)
page_body = r.text
jdata=json.loads(page_body)

In [6]:
#print(json.dumps(jdata["data"], indent=4, sort_keys=True))
PDdata=pd.DataFrame(jdata["data"])

soup=BeautifulSoup(reduce(addS, PDdata["uni"].values), 'html.parser')
wrappers= soup.find_all('a')
PDdata["uni"]=[p.text for p in wrappers]
PDdata["link"]=[p['href'] for p in wrappers]

codes=["2971069","2971070","2971071","2971072","2971073","2971074"]
for code in codes:
    soup=BeautifulSoup(reduce(addS, PDdata[code].values), 'html.parser')
    wrappers= soup.find_all('div',class_="td-wrap-in")
    PDdata[code][[not x for x in PDdata[code].isnull().values]]=[float(p.text) for p in wrappers]


drop_codes=["","2971069_rank_d","2971070_rank_d","2971071_rank_d","2971072_rank_d","2971073_rank_d","2971074_rank_d","_rank_d","overall","overall_rank_dis"]
PDdata=PDdata.drop(drop_codes,axis=1)
PDdata.columns=["academic reputation",
                "citations per faculty",
                "employer reputation",
                "faculty-student",
                "internat faculty",
                "internat students",
                "country",
                "overall rank",
                "region",
                "stars",
                "name",
                "link"]
PDdata

,academic reputation,citations per faculty,employer reputation,faculty-student,internat faculty,internat students,country,overall rank,region,stars,name,link
0,100,99.9,100,100,100,96.1,United States,1,North America,6,Massachusetts Institute of Technology (MIT),/universities/massachusetts-institute-technolo...
1,100,99.4,100,100,99.6,72.7,United States,2,North America,5,Stanford University,/universities/stanford-university
2,100,99.9,100,98.3,96.5,75.2,United States,3,North America,5,Harvard University,/universities/harvard-university
3,99.5,100,85.4,100,93.4,89.2,United States,4,North America,5,California Institute of Technology (Caltech),/universities/california-institute-technology-...
4,100,78.3,100,100,97.4,97.7,United Kingdom,5,Europe,5,University of Cambridge,/universities/university-cambridge
5,100,76.3,100,100,98.6,98.5,United Kingdom,6,Europe,5,University of Oxford,/universities/university-oxford
6,99.7,74.7,99.5,99.1,96.6,100,United Kingdom,7,Europe,None,UCL (University College London),/universities/ucl-university-college-london
7,99.4,68.7,100,100,100,100,United Kingdom,8,Europe,None,Imperial College London,/universities/imperial-college-london
8,99.9,85.9,92.9,96.5,71.9,79.8,United States,9,North America,5,University of Chicago,/universities/university-chicago
9,99.6,98.7,99.4,68.2,100,98.8,Switzerland,10,Europe,None,ETH Zurich - Swiss Federal Institute of Techno...,/universities/eth-zurich-swiss-federal-institu...
10,93.9,83.3,96.6,93.6,100,88.2,Singapore,11,Asia,6,"Nanyang Technological University, Singapore (NTU)",/universities/nanyang-technological-university...
11,83,99.2,95.5,92,100,100,Switzerland,12,Europe,None,Ecole Polytechnique Fédérale de Lausanne (EPFL),/universities/ecole-polytechnique-f%C3%A9d%C3%...
12,100,100,97.3,70.9,67.4,70.8,United States,13,North America,5,Princeton University,/universities/princeton-university
13,99.6,96.2,93.7,67.4,92.2,79.2,United States,14,North America,5,Cornell University,/universities/cornell-university
14,100,66.2,99.9,88.8,100,86.1,Singapore,15,Asia,None,National University of Singapore (NUS),/universities/national-university-singapore-nus
15,100,63.2,99.8,100,90.7,61.7,United States,16,North America,5,Yale University,/universities/yale-university
16,94.3,83.9,66.4,100,87.9,81.3,United States,17,North America,None,Johns Hopkins University,/universities/johns-hopkins-university
17,99.9,62.3,98.1,100,34.7,94.9,United States,18,North America,5,Columbia University,/universities/columbia-university
18,97.4,67.4,94.9,100,67.1,64.5,United States,19,North America,5,University of Pennsylvania,/universities/university-pennsylvania
19,99.3,85.6,90.4,55.3,100,98.8,Australia,20,Oceania,,The Australian National University,/universities/australian-national-university
20,94,91.4,78.1,98.1,NaN,56.6,United States,21,North America,5,Duke University,/universities/duke-university
21,99.7,66.7,92.2,89.6,78,51.2,United States,21,North America,5,University of Michigan,/universities/university-michigan
22,92.8,64.8,92.4,87.6,97.4,99.2,United Kingdom,23,Europe,None,King's College London,/universities/kings-college-london
23,99.1,55.5,96.6,83.2,94.9,98.6,United Kingdom,23,Europe,None,The University of Edinburgh,/universities/university-edinburgh
24,99.2,75.3,99.6,86.7,42.1,25.6,China,25,Asia,None,Tsinghua University,/universities/tsinghua-university
25,99.1,46.3,93.4,85.3,100,99.4,Hong Kong,26,Asia,None,The University of Hong Kong,/universities/university-hong-kong
26,100,99.3,99.9,36.2,97.7,54.6,United States,27,North America,None,"University of California, Berkeley (UCB)",/universities/university-california-berkeley-ucb
27,91.3,75.4,76.6,98.6,57.9,55,United States,28,North America,None,Northwestern University,/universities/northwestern-university
28,100,73.3,99.8,92.6,NaN,NaN,Japan,28,Asia,None,The University of Tokyo,/universities/university-tokyo
29,93,87.7,87.2,54.9,100,93,Hong Kong,30,Asia,None,The Hong Kong University of Science and Techno...,/universities/hong-kong-university-science-tec...
...,...,...,...,...,...,...,...,...,...,...,...,...
950,NaN,NaN,NaN,NaN,36.7,NaN,South Africa,951,Africa,None,University of the Western Cape,/universities/university-western-cape
951,NaN,NaN,NaN,NaN,NaN,NaN,Poland,952,Europe,None,University of Wroclaw,/universities/university-wroclaw
952,NaN,NaN,NaN,NaN,34.1,56,France,953,Europe,None,Université de Toulouse II-Le Mirail,/universities/universit%C3%A9-de-toulouse-ii-l...
953,NaN,36.5,NaN,NaN,NaN,NaN,United States,954,North America,None,Utah State University,/universities/utah-state-university
954,NaN,NaN,NaN,NaN,NaN,NaN,Italy,955,Europe,None,Verona University,/universities/verona-university
955,NaN,NaN,NaN,43.8,NaN,NaN,Russia,956,Europe,3,Voronezh State University,/universities/voronezh-state-university
956,NaN,NaN,NaN,NaN,25.2,NaN,Lithuania,957,Europe,2,Vytautas Magnus University,/universities/vytautas-magnus-university
957,NaN,NaN,NaN,NaN,NaN,NaN,Romania,958,Europe,None,Universitatea de Vest din Timisoara / West Un...,/universities/universitatea-de-vest-din-timiso...
958,NaN,NaN,NaN,NaN,NaN,NaN,Poland,959,Europe,None,Wroclaw University of Technology,/universities/wroclaw-university-technology
959,NaN,NaN,35.5,100,NaN,31.3,United States,960,North America,,Baylor College of Medicine,/universities/baylor-college-medicine
960,NaN,NaN,NaN,NaN,82.3,22,Norway,961,Europe,None,BI Norwegian Business School,/universities/bi-norwegian-business-school
961,NaN,NaN,NaN,86.5,22.1,38.3,South Korea,962,Asia,None,Chung-Ang University (CAU),/universities/chung-ang-university-cau
962,NaN,36.2,43.3,NaN,83.3,75,Denmark,963,Europe,None,Copenhagen Business School,/universities/copenhagen-business-school
963,NaN,49.4,48.5,99.9,94.6,100,United Kingdom,964,Europe,None,Cranfield University,/universities/cranfield-university
964,NaN,NaN,84.4,NaN,100,99.9,France,965,Europe,None,ESCP Europe - Paris,/universities/escp-europe-paris
965,NaN,32.2,93,NaN,99.6,93.2,France,966,Europe,None,ESSEC Business School,/universities/essec-business-school
966,NaN,22.6,33.5,NaN,72.3,95.9,Germany,967,Europe,None,EBS Business School,/universities/ebs-business-school
967,NaN,60.2,99.6,NaN,100,100,France,968,Europe,None,HEC Paris School of Management,/universities/hec-paris-school-management
968,34.1,55.2,99.5,65.1,100,100,France,969,Europe,None,INSEAD,/universities/insead
969,38.1,NaN,NaN,71.8,NaN,NaN,India,970,Asia,None,Jawaharlal Nehru University,/universities/jawaharlal-nehru-university
970,53.6,88.4,NaN,99.8,88.7,64,Sweden,971,Europe,None,Karolinska Institutet,/universities/karolinska-institutet
971,NaN,100,NaN,84.5,100,100,Saudi Arabia,972,Asia,None,King Abdullah University of Science & Technology,/universities/king-abdullah-university-science...
972,37.9,96.9,99.6,NaN,100,100,United Kingdom,973,Europe,None,London Business School,/universities/london-business-school
973,NaN,62.2,60.8,NaN,87.8,34.7,Sweden,974,Europe,None,Stockholm School of Economics,/universities/stockholm-school-economics
974,33.4,NaN,98,NaN,28.5,28.2,Italy,975,Europe,None,Bocconi University,/universities/bocconi-university
975,NaN,23.9,48.4,32.4,NaN,50.3,France,976,Europe,None,Université de Technologie de Compiègne (UTC),/universities/universit%C3%A9-de-technologie-d...
976,59.5,69.6,NaN,100,45.3,NaN,United States,977,North America,None,"University of California, San Francisco",/universities/university-california-san-francisco
977,NaN,NaN,40,NaN,NaN,73.2,Czech Republic,978,Europe,None,"University of Economics, Prague",/universities/university-economics-prague
978,29.9,100,NaN,99.9,NaN,NaN,Israel,979,Asia,None,Weizmann Institute of Science,/universities/weizmann-institute-science
979,NaN,58.9,42.9,NaN,80.5,41.8,Germany,980,Europe,None,WHU - Otto Beisheim School of Management,/universities/whu-otto-beisheim-school-management

In [ ]:
url_data=np.zeros((PDdata.shape[0],4))
for i in range(PDdata.shape[0]):
    URL = 'https://www.topuniversities.com/'+ PDdata["link"][i]
    r = requests.get(URL)
    page_body = r.text
    page_body

    soup = BeautifulSoup(page_body, 'html.parser')
    all_links = soup.find_all('div', class_='number')
    temp_data=[int(p.text[1:-1].replace(",","")) for p in all_links][0:4]
    if len(temp_data)==4:
        url_data[i,:]=temp_data
    else:
        print(i)

51

In [ ]:
PDdata["total faculty"]=url_data[:,0]
PDdata["international faculty"]=url_data[:,1]
PDdata["total students"]=url_data[:,2]
PDdata["international studets"]=url_data[:,3]

In [2]:
PDdata.to_pickle("topuniversities.p")

NameError: name 'PDdata' is not defined

In [4]:
Pdread=pd.read_pickle("topuniversities.p")

In [8]:
type(Pdread["academic reputation"][0])

float

'<div class="td-wrap"><div class="td-wrap-in"></div></div>'