## Crawling topuniversities.com

Running this code takes time, as ~1000 webpages need to be requested and parsed. The code was run only once, and the DataFrame was saved with pickle. Some postprocessing (renaming columns, etc) had to be done afterwards to minimize internet traffic.

In [1]:
# Import libraries
import requests
from bs4 import BeautifulSoup
import json
import numpy as np
import pandas as pd
from functools import reduce

In [2]:
## Later we will have a DataFrame where each cell has some html code in it from which
## we have to extract the necessary values. This function helps to run Beautifulsoup on
## each column at once instead of running it on each cells separately. The function
## helps to create a single string out of the column
def addS(x,y):
    if type(y) is str:
        return x+y + "\n"
    else:
        return x

We begin by requesting the data in the table of the "Ranking indicators" on https://www.topuniversities.com/university-rankings/world-university-rankings/2018 The table is actually populated using a json object that has the appropriate html code as cells.

In [3]:
URL = 'https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051_indicators.txt'
r = requests.get(URL)
page_body = r.text
jdata=json.loads(page_body)

Now we import the json object into pandas and extract the necessary information from each column using Beautfulsoup. For better performance we don't call Beautfulsoup on each cell, but rather transform each column into one string and call Beautfulsoup on that. For most of the cells the info is in the div with class=td-wrap-in, except the univerity name and link which had to be handled separately.

In [20]:
PDdata=pd.DataFrame(jdata["data"])
PDdata=PDdata.loc[0:199] # we only need the top 200 unis

soup=BeautifulSoup(reduce(addS, PDdata["uni"].values), 'html.parser')
wrappers= soup.find_all('a')
PDdata["uni"]=[p.text for p in wrappers]
PDdata["link"]=[p['href'] for p in wrappers]

codes=["2971069","2971070","2971071","2971072","2971073","2971074"] # rest of the data 
for code in codes:
    soup=BeautifulSoup(reduce(addS, PDdata[code].values), 'html.parser')
    wrappers= soup.find_all('div',class_="td-wrap-in")
    PDdata[code][[not x for x in PDdata[code].isnull().values]]=[float(p.text) for p in wrappers]


## dropping unnecessary stuff, renaming columns 
drop_codes=["","2971069_rank_d","2971070_rank_d","2971071_rank_d","2971072_rank_d","2971073_rank_d","2971074_rank_d","_rank_d","overall","overall_rank_dis"]
PDdata=PDdata.drop(drop_codes,axis=1)
PDdata.columns=["academic reputation score",
                "citations per faculty score",
                "employer reputation score",
                "faculty-student score",
                "international faculty score",
                "international students score",
                "country",
                "overall rank",
                "region",
                "stars",
                "name",
                "link"]


## For some reason the type of these columns had to be set manually
PDdata["academic reputation score"]=PDdata["academic reputation score"].astype(float)
PDdata["citations per faculty score"]=PDdata["citations per faculty score"].astype(float)
PDdata["employer reputation score"]=PDdata["employer reputation score"].astype(float)
PDdata["faculty-student score"]=PDdata["faculty-student score"].astype(float)
PDdata["international students score"]=PDdata["international students score"].astype(float)
PDdata["international faculty score"]=PDdata["international faculty score"].astype(float)
PDdata["overall rank"]=PDdata["overall rank"].astype(int)


PDdata.dtypes

academic reputation score       float64
citations per faculty score     float64
employer reputation score       float64
faculty-student score           float64
international faculty score     float64
international students score    float64
country                          object
overall rank                      int64
region                           object
stars                            object
name                             object
link                             object
dtype: object

Since the info on the (international) students/faculty is not available here we need to visit the page dedicated to each university separately. This is the part of the code that takes a considerable amount of time. Note that the details page of NYU (index 51) doesn't have the necessary info.

In [22]:
url_data=np.zeros((PDdata.shape[0],4))
for i in range(PDdata.shape[0]):
    URL = 'https://www.topuniversities.com/'+ PDdata["link"][i]
    r = requests.get(URL)
    page_body = r.text
    page_body

    soup = BeautifulSoup(page_body, 'html.parser')
    all_links = soup.find_all('div', class_='number')
    temp_data=[int(p.text[1:-1].replace(",","")) for p in all_links][0:4]
    if len(temp_data)==4:
        url_data[i,:]=temp_data
    else:
        print(i)

51

In [23]:
PDdata["total faculty"]=url_data[:,0]
PDdata["international faculty"]=url_data[:,1]
PDdata["total students"]=url_data[:,2]
PDdata["international studets"]=url_data[:,3]

Now we save the dataframe so we don't have to rerun the code.

In [24]:
PDdata.to_pickle("topuniversities.p")

In [14]:
PDdata=pd.read_pickle("topuniversities.p")

,academic reputation score,citations per faculty score,employer reputation score,faculty-student score,international faculty score,international students score,country,overall rank,region,stars,name,link,total faculty,international faculty,total students,international studets
0,100.0,99.9,100.0,100.0,100.0,96.1,United States,1,North America,6,Massachusetts Institute of Technology (MIT),/universities/massachusetts-institute-technolo...,2982.0,1679.0,11067.0,3717.0
1,100.0,99.4,100.0,100.0,99.6,72.7,United States,2,North America,5,Stanford University,/universities/stanford-university,4285.0,2042.0,15878.0,3611.0
2,100.0,99.9,100.0,98.3,96.5,75.2,United States,3,North America,5,Harvard University,/universities/harvard-university,4350.0,1311.0,22429.0,5266.0
3,99.5,100.0,85.4,100.0,93.4,89.2,United States,4,North America,5,California Institute of Technology (Caltech),/universities/california-institute-technology-...,953.0,350.0,2255.0,647.0
4,100.0,78.3,100.0,100.0,97.4,97.7,United Kingdom,5,Europe,5,University of Cambridge,/universities/university-cambridge,5490.0,2278.0,18770.0,6699.0
5,100.0,76.3,100.0,100.0,98.6,98.5,United Kingdom,6,Europe,5,University of Oxford,/universities/university-oxford,6750.0,2964.0,19720.0,7353.0
6,99.7,74.7,99.5,99.1,96.6,100.0,United Kingdom,7,Europe,None,UCL (University College London),/universities/ucl-university-college-london,6345.0,2554.0,31080.0,14854.0
7,99.4,68.7,100.0,100.0,100.0,100.0,United Kingdom,8,Europe,None,Imperial College London,/universities/imperial-college-london,3930.0,2071.0,16090.0,8746.0
8,99.9,85.9,92.9,96.5,71.9,79.8,United States,9,North America,5,University of Chicago,/universities/university-chicago,2449.0,635.0,13557.0,3379.0
9,99.6,98.7,99.4,68.2,100.0,98.8,Switzerland,10,Europe,None,ETH Zurich - Swiss Federal Institute of Techno...,/universities/eth-zurich-swiss-federal-institu...,2477.0,1886.0,19815.0,7563.0
10,93.9,83.3,96.6,93.6,100.0,88.2,Singapore,11,Asia,6,"Nanyang Technological University, Singapore (NTU)",/universities/nanyang-technological-university...,4338.0,2993.0,25738.0,7251.0
11,83.0,99.2,95.5,92.0,100.0,100.0,Switzerland,12,Europe,None,Ecole Polytechnique Fédérale de Lausanne (EPFL),/universities/ecole-polytechnique-f%C3%A9d%C3%...,1695.0,1300.0,10343.0,5896.0
12,100.0,100.0,97.3,70.9,67.4,70.8,United States,13,North America,5,Princeton University,/universities/princeton-university,1007.0,246.0,8069.0,1793.0
13,99.6,96.2,93.7,67.4,92.2,79.2,United States,14,North America,5,Cornell University,/universities/cornell-university,2718.0,970.0,21904.0,5411.0
14,100.0,66.2,99.9,88.8,100.0,86.1,Singapore,15,Asia,None,National University of Singapore (NUS),/universities/national-university-singapore-nus,5106.0,3086.0,32728.0,8917.0
15,100.0,63.2,99.8,100.0,90.7,61.7,United States,16,North America,5,Yale University,/universities/yale-university,4940.0,1708.0,12402.0,2469.0
16,94.3,83.9,66.4,100.0,87.9,81.3,United States,17,North America,None,Johns Hopkins University,/universities/johns-hopkins-university,4462.0,1061.0,16146.0,4105.0
17,99.9,62.3,98.1,100.0,34.7,94.9,United States,18,North America,5,Columbia University,/universities/columbia-university,6189.0,913.0,25045.0,8105.0
18,97.4,67.4,94.9,100.0,67.1,64.5,United States,19,North America,5,University of Pennsylvania,/universities/university-pennsylvania,5499.0,1383.0,20639.0,4250.0
19,99.3,85.6,90.4,55.3,100.0,98.8,Australia,20,Oceania,,The Australian National University,/universities/australian-national-university,1600.0,927.0,14442.0,5551.0
20,94.0,91.4,78.1,98.1,NaN,56.6,United States,21,North America,5,Duke University,/universities/duke-university,2938.0,226.0,15320.0,2864.0
21,99.7,66.7,92.2,89.6,78.0,51.2,United States,21,North America,5,University of Michigan,/universities/university-michigan,6809.0,1920.0,43147.0,7527.0
22,92.8,64.8,92.4,87.6,97.4,99.2,United Kingdom,23,Europe,None,King's College London,/universities/kings-college-london,3650.0,1513.0,23780.0,9451.0
23,99.1,55.5,96.6,83.2,94.9,98.6,United Kingdom,23,Europe,None,The University of Edinburgh,/universities/university-edinburgh,4075.0,1553.0,28040.0,10551.0
24,99.2,75.3,99.6,86.7,42.1,25.6,China,25,Asia,None,Tsinghua University,/universities/tsinghua-university,5506.0,932.0,36300.0,4072.0
25,99.1,46.3,93.4,85.3,100.0,99.4,Hong Kong,26,Asia,None,The University of Hong Kong,/universities/university-hong-kong,3012.0,2085.0,20214.0,8230.0
26,100.0,99.3,99.9,36.2,97.7,54.6,United States,27,North America,None,"University of California, Berkeley (UCB)",/universities/university-california-berkeley-ucb,3321.0,1395.0,36703.0,6086.0
27,91.3,75.4,76.6,98.6,57.9,55.0,United States,28,North America,None,Northwestern University,/universities/northwestern-university,4231.0,1141.0,18675.0,3422.0
28,100.0,73.3,99.8,92.6,NaN,NaN,Japan,28,Asia,None,The University of Tokyo,/universities/university-tokyo,4514.0,254.0,27279.0,2639.0
29,93.0,87.7,87.2,54.9,100.0,93.0,Hong Kong,30,Asia,None,The Hong Kong University of Science and Techno...,/universities/hong-kong-university-science-tec...,1150.0,835.0,10375.0,2921.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,61.6,53.8,37.8,31.2,56.2,48.4,Germany,171,Europe,None,Albert-Ludwigs-Universitaet Freiburg,/universities/albert-ludwigs-universitaet-frei...,1966.0,413.0,23214.0,3897.0
171,54.9,91.2,71.1,NaN,NaN,NaN,India,172,Asia,None,Indian Institute of Technology Delhi (IITD),/universities/indian-institute-technology-delh...,466.0,4.0,7477.0,80.0
172,35.7,27.6,40.5,94.9,100.0,46.6,Saudi Arabia,173,Asia,5,King Fahd University of Petroleum & Minerals,/universities/king-fahd-university-petroleum-m...,1062.0,665.0,6040.0,989.0
173,45.4,38.7,47.5,53.0,82.3,96.5,United Kingdom,173,Europe,5,University of Liverpool,/universities/university-liverpool,2390.0,717.0,22065.0,7502.0
174,47.7,53.3,49.2,60.6,50.7,NaN,United States,173,North America,None,University of Virginia,/universities/university-virginia,2509.0,487.0,21560.0,1899.0
175,50.7,45.8,87.0,NaN,97.2,94.5,Australia,176,Oceania,5,University of Technology Sydney,/universities/university-technology-sydney,1328.0,546.0,24207.0,7769.0
176,NaN,31.8,100.0,79.4,64.4,90.2,France,177,Europe,None,CentraleSupélec,/universities/centralesup%C3%A9lec,529.0,137.0,3877.0,1132.0
177,58.6,39.2,37.5,63.1,18.2,21.7,United States,178,North America,None,University of Florida,/universities/university-florida,5419.0,504.0,45485.0,4597.0
178,62.3,50.8,77.9,32.1,NaN,NaN,India,179,Asia,None,Indian Institute of Technology Bombay (IITB),/universities/indian-institute-technology-bomb...,876.0,19.0,9402.0,93.0
179,28.9,92.2,NaN,42.7,88.0,76.8,Netherlands,179,Europe,5,University of Twente,/universities/university-twente,910.0,299.0,9332.0,2235.0
180,62.2,23.9,NaN,64.7,43.8,29.6,Germany,181,Europe,None,University of Göttingen,/universities/university-g%C3%B6ttingen,3678.0,641.0,30402.0,3736.0
181,39.8,83.7,75.6,NaN,67.2,91.2,Austria,182,Europe,None,Vienna University of Technology,/universities/vienna-university-technology,706.0,172.0,17479.0,5199.0
182,76.9,30.0,73.4,NaN,NaN,NaN,Brazil,182,Latin America,None,Universidade Estadual de Campinas (Unicamp),/universities/universidade-estadual-de-campina...,1968.0,109.0,26572.0,966.0
183,47.0,52.0,43.7,65.6,36.7,NaN,United States,182,North America,None,University of Colorado Boulder,/universities/university-colorado-boulder,3685.0,566.0,30219.0,2679.0
184,34.5,23.8,41.3,98.2,79.4,61.9,Belgium,182,Europe,None,Vrije Universiteit Brussel (VUB),/universities/vrije-universiteit-brussel-vub,1792.0,515.0,9284.0,1853.0
185,32.1,42.6,NaN,100.0,47.3,90.0,United States,186,North America,None,University of Rochester,/universities/university-rochester,2569.0,488.0,9636.0,2805.0
186,65.7,24.7,74.1,43.4,NaN,24.3,Spain,187,Europe,None,Universidad Autónoma de Madrid,/universities/universidad-aut%C3%B3noma-de-madrid,2738.0,181.0,26511.0,2976.0
187,81.5,36.9,62.9,NaN,NaN,NaN,Italy,188,Europe,None,Alma Mater Studiorum - University of Bologna,/universities/alma-mater-studiorum-university-...,2990.0,153.0,63399.0,4195.0
188,39.4,51.6,55.8,41.3,88.1,92.5,United Kingdom,188,Europe,None,University of Reading,/universities/university-reading,1280.0,422.0,13330.0,4077.0
189,38.3,100.0,NaN,56.1,NaN,NaN,India,190,Asia,None,Indian Institute of Science (IISc) Bangalore,/universities/indian-institute-science-iisc-ba...,423.0,4071.0,47.0,423.0
190,60.2,35.9,55.1,32.9,59.2,49.2,South Africa,191,Africa,None,University of Cape Town,/universities/university-cape-town,1733.0,379.0,19593.0,3325.0
191,63.0,NaN,80.2,60.7,NaN,NaN,Japan,192,Asia,None,Keio University CEMS MIM,/universities/keio-university-cems-mim,3905.0,261.0,33500.0,2178.0
192,NaN,98.3,NaN,91.2,NaN,NaN,Italy,192,Europe,None,Scuola Normale Superiore di Pisa,/universities/scuola-normale-superiore-di-pisa,86.0,1.0,532.0,48.0
193,NaN,96.0,NaN,86.3,NaN,49.8,Italy,192,Europe,None,Scuola Superiore Sant'Anna Pisa di Studi Unive...,/universities/scuola-superiore-santanna-pisa-d...,119.0,1.0,789.0,135.0
194,65.8,49.2,NaN,NaN,64.3,NaN,Sweden,195,Europe,None,Stockholm University,/universities/stockholm-university,2154.0,646.0,28281.0,2636.0
195,41.5,32.5,77.0,NaN,47.3,38.5,Germany,281,Europe,None,Technische Universität Dresden,/universities/technische-universit%C3%A4t-dresden,4913.0,669.0,34029.0,4929.0
196,69.7,57.0,54.1,NaN,NaN,NaN,United States,195,North America,None,Texas A&M University,/universities/texas-am-university,3446.0,206.0,60294.0,4900.0
197,72.1,43.7,41.5,NaN,21.5,28.6,Spain,195,Europe,None,Universitat Autònoma de Barcelona,/universities/universitat-aut%C3%B2noma-de-bar...,2187.0,230.0,31986.0,3848.0
198,42.8,NaN,84.9,77.1,98.4,23.2,Mexico,199,Latin America,5,Instituto Tecnológico y de Estudios Superiores...,/universities/instituto-tecnol%C3%B3gico-y-de-...,1822.0,821.0,13376.0,1412.0
199,30.8,73.3,39.0,35.4,95.9,100.0,Netherlands,200,Europe,None,Maastricht University,/universities/maastricht-university,1277.0,502.0,16385.0,8234.0